<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      SkeletonAPP
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="mis-datos" (ionChange)="segmentChanged($event)">
      <ion-segment-button  value="mis-datos">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="experiencias">
        <ion-icon name="briefcase-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="certificaciones">
        <ion-icon name="school-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
