<ion-item>
    <ion-label #labelCabecera>Bienvenido!</ion-label>
  </ion-item>
  <div>
    <h3>Usuario : {{user}}</h3>
  </div>
  <div class="ion-text-center">
    <h2>Informacion Adicional</h2>
  </div>
  <ion-list>
    <ion-item>
      <ion-input #inputNombre label="Nombre" [(ngModel)]="perfil.nombre"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input #inputApellido label="Apellido" [(ngModel)]="perfil.apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Nivel Educación" [(ngModel)]="perfil.nivel_educacion"></ion-input>
      <ion-select placeholder="Seleccione nivel" [(ngModel)]="perfil.nivel_educacion">
        <ion-select-option *ngFor="let niv of niveles" [value]="niv.id">{{niv.nivel}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <mat-form-field>
        <mat-label>Elige una fecha</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="perfil.nivel_educacion">
        <mat-hint>MM/DD/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </ion-item>
    <ion-item>
      <ion-button (click)="limpiar()">Limpiar</ion-button> <ion-button (click)="mostrar()">Mostrar</ion-button>
    </ion-item>
  </ion-list>
  <mat-slider min="1" max="100" step="1" value="1" >
    <input matSliderThumb>
  </mat-slider>